a {
    color:#999999 ;
    text-decoration: none;
  }
  a:hover{
    color: #4d4d4d;;
  }

  body {
    background-color:#FFFFFF;
  }


@media screen and (min-width:768px) {
 #name{width:15vw;
        display: block; 
        margin-top: 3vw;
        margin-left: 7.5vw;
        margin-right: 7.5vw;
        margin-bottom: 3vw;
    }
    }
 #menu1{height:2.25vw;
    display: block; 
    margin-top: 3vw;
    margin-left: 1vw;}
        #menu{width: 0px;
            display: block; 
            margin: auto;}
            #instagram{height:2vw;
                display: block; 
                margin-top: 2.7vw;
                margin-left: 5vw;}
 

 .app {
         width: 100vw;
         height: 100vh;
         border: 0px solid blue;
         display: flex;
         flex-direction: column;
           }        
 .header {
         height:15vw;
         background-color: transparent;
         box-sizing: border-box;
         border: 0px solid blue;
         position: sticky;
         top: 00px;
         display: flex;
         flex-direction:row;
         flex-grow: 1;
            
           }
.main {
         display: flex;
         flex-direction: column;
         flex-grow:1;
           }
 
 
.myChangeImage{
    position: relative;
    border: 0px solid blue;
    width:85vw;
    display: block;
    margin-left:0vw;
    margin-top:0vw;
    
}

.myChangeImage img{
    position: absolute;
    border: 0px solid blue;
    top: 0;
    left: 0;
    width:85vw;
    display: block;
    margin: auto;
    margin-left:7.5vw;
    margin-top:0vw;
    animation: ChangeImage 30s infinite;
    opacity: 0;
}

@keyframes ChangeImage{
    0%{ opacity: 0;}
    10%{ opacity: 1;}
    20%{ opacity: 1;}
    30%{ opacity: 0;}
    100%{ opacity: 0;}
}

.myChangeImage img:nth-of-type(1) {
     animation-delay: 0s;
}
.myChangeImage img:nth-of-type(2) {
    animation-delay: 6s;
}
.myChangeImage img:nth-of-type(3) {
    animation-delay: 12s;
}
.myChangeImage img:nth-of-type(4) {
    animation-delay: 18s;
}
.myChangeImage img:nth-of-type(5) {
    animation-delay: 24s;
}

#moji{width:85vw;
    display: block; 
    margin: auto;
    margin-bottom:1vw;
    margin-left:7.5vw;
    margin-top:-43.516px;
     }

 
 .footer {
    height: 15vw;
    background-color:transparent;
    box-sizing: border-box;
    border: 0px solid blue;
    position: sticky;
    top: 00px;
       
      }
 
 
 
 @media screen  and ( max-width:768px) {
 
     
  #name{width: 23vw;
    display: block; 
    margin-left:2.5vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
    }
#menu1{width:0px;
    display: block; 
    margin: auto;
    position: absolute;
    top:10px;
    right:auto;}
    #menu{width: 10vw;
        display: block; 
        margin-left:7.5vw;
        margin-top: 3vw;
        margin-bottom: 5vw;
        }
        #instagram{width: 00px;
            display: block; 
            margin: auto;
            position: absolute;
            top:10px;
            right:auto;}
  

  .header {
          height: 100px;
          background-color:transparent;
          box-sizing: border-box;
          border: 0px solid blue;
          position: sticky;
          top: 00px;
             
            }
  
  .main {
          display: flex;
          flex-direction: column;
          flex-grow:1;
            }
  
 
  .content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
            }
.slide {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: auto;
  background: #fff;
}
.slide img {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: 100%;
  animation: slide-anime 15s ease infinite;
}
.slide img:nth-of-type(1) {animation-delay: 0s;}
.slide img:nth-of-type(2) {animation-delay: 3s;}
.slide img:nth-of-type(3) {animation-delay: 6s;}
.slide img:nth-of-type(4) {animation-delay: 9s;}
.slide img:nth-of-type(5) {animation-delay: 12s;}
 
@keyframes slide-anime{
  0% {left: 100%;}
  2% {left: 0;}
  18% {left: 0;}
  20% {left: -100%;}
  100% {left: -100%;}
}


  
   .footer {
    height: 15vw;
    background-color:transparent;
    box-sizing: border-box;
    border: 0px solid blue;
    position: sticky;
    top: 00px;
       
      }
  
 }
